language: python
python:
    - "2.6"
    - "2.7"

branches:
  only:
    - master

notifications:
  email:
    - hschlichting@mozilla.com

before_install:
    - sudo apt-get -q install libevent-dev >/dev/null 2>&1

install:
    - make build

script: make test
